<mat-sidenav-container fullscreen>
  <mat-toolbar class="toolbar-search md-hue-1">
    <button mat-icon-button aria-label="Back to list" (click)="router.navigateByUrl('/')">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="toolbar-spacer" *ngIf="loaded">{{video.Title}}</span>
    <span class="toolbar-spacer" *ngIf="!loaded">...</span>

    <button mat-icon-button *ngIf="loaded && !isChosen(video)" (click)="addToChosen(video)">
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>
    <button mat-icon-button *ngIf="loaded && isChosen(video)" (click)="removeFromChosen(video)">
      <mat-icon>playlist_add_check</mat-icon>
    </button>

    <button mat-icon-button aria-label="Chosen videos" (click)="router.navigateByUrl('/chosen')">
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar>

  <mat-progress-bar
    mode="determinate"
    *ngIf="fetching"
    [value]="fetchingProgress"></mat-progress-bar>

  <mat-card *ngIf="loaded">
    <mat-card-header>
      <mat-card-title>{{video.Year}}, {{video.Country}}</mat-card-title>
      <mat-card-subtitle *ngIf="video.Genre">{{video.Genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{video.Poster}}" alt="{{video.Title}}">
    <mat-card-content>
      <!--<pre>{{ video | json }}</pre>-->
      <p *ngIf="video.Plot">{{video.Plot}}</p>
      <p *ngIf="video.Actors">Actors: <span>{{video.Actors}}</span></p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="error" class="mat-card-error">
    <mat-card-header>
      <mat-card-title>Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{error}}</p>
    </mat-card-content>
  </mat-card>

</mat-sidenav-container>
