<mat-sidenav-container fullscreen>

  <mat-toolbar class="toolbar-search md-hue-1">

    <mat-form-field>
      <mat-label>Movie name</mat-label>
      <input matInput
             [(ngModel)]="searchFilter.movie"
             (keyup.enter)="pagination.reset(); onSearchFormSubmit()"
             placeholder="Movie name">
    </mat-form-field>

    <button mat-icon-button aria-label="Search" (click)="pagination.reset(); onSearchFormSubmit()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button aria-label="Chosen videos" (click)="router.navigateByUrl('/chosen')">
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar>

  <mat-progress-bar
    mode="determinate"
    *ngIf="fetching"
    [value]="fetchingProgress"></mat-progress-bar>

  <mat-paginator
    *ngIf="pagination.length > pagination.pageSize"
    [length]="pagination.length"
    hidePageSize="true"
    [pageIndex]="pagination.pageIndex"
    [pageSize]="pagination.pageSize"
    (page)="onPageChange($event)">
  </mat-paginator>

  <mat-action-list>
    <mat-list-item *ngFor="let video of videosList" (click)="router.navigateByUrl('/view/' + video.imdbID)">
      <img matListAvatar *ngIf="video.Poster !== 'N\/A'" src="{{video.Poster}}" alt="{{video.Title}}">
      <span matListAvatar *ngIf="video.Poster === 'N\/A'" class="mat-list-avatar-dummy"></span>
      <h3 matLine><a routerLink="/view/{{video.imdbID}}">{{video.Title}}</a></h3>
      <p matLine>
        <a routerLink="/view/{{video.imdbID}}"><span>{{video.Year}}</span></a>
      </p>
      <button mat-icon-button *ngIf="!isChosen(video)" appClickStopPropagation (click)="addToChosen(video)">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isChosen(video)" appClickStopPropagation (click)="removeFromChosen(video)">
        <mat-icon>playlist_add_check</mat-icon>
      </button>

    </mat-list-item>
  </mat-action-list>

  <mat-card *ngIf="movieSearch.Error" class="mat-card-error">
    <mat-card-header>
      <mat-card-title>Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{movieSearch.Error}}</p>
    </mat-card-content>
  </mat-card>

</mat-sidenav-container>

